node_modules
.next
out
tsconfig.tsbuildinfo
.DS_Store

# Proyectos que ya no se muestran en el portafolio
public/media/acreditaciones
public/media/castores
public/media/nfc
public/media/plateas
public/media/proveedores
